---
import { useSanityClient } from "astro-sanity";
import ContactMenu from "../../components/contact-menu.astro";
import "../../styles/global.css";
import ImageWrapper from "../../components/image-wrapper.astro";
import TitleLink from "../../components/title-link.astro";
import Layout from "../../components/layout.astro";

const awards = await useSanityClient().fetch(
  `*[_type == "awards"][0..24]  | order(_createdAt desc)`
);
---

<Layout title="Awards | Tim Nees Architects" bodyClass="body__awards backdrop">
  <TitleLink link="/" />
  <section class="awards">
    {
      awards.map((award) => (
        <a href={`awards/${award.slug.current}`}>
          <ImageWrapper image={award.images[0]} keyword="Award" />
        </a>
      ))
    }
  </section>
  <ContactMenu />
</Layout>

<style lang="scss">
  .body__awards {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .awards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-auto-rows: min-content;
    height: 100%;
    margin: auto;
    max-width: 110rem;
    width: 100%;
    justify-items: center;
    margin-top: 2rem;
  }
</style>
