---
import { useSanityClient } from "astro-sanity";
import ContactMenu from "../../components/contact-menu.astro";
import "../../styles/global.css";
import ImageWrapper from "../../components/image-wrapper.astro";
import TitleLink from "../../components/title-link.astro";

const awards = await useSanityClient().fetch(
  `*[_type == "awards"][0..24]  | order(_createdAt desc)`
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Awards | Tim Nees Architects</title>
  </head>
  <body class="body__awards backdrop">
    <TitleLink link="/" />
    <section class="awards">
      {
        awards.map((award) => (
          <a href={`awards/${award.slug.current}`}>
            <ImageWrapper image={award.images[0]} keyword="Award" />
          </a>
        ))
      }
    </section>
    <ContactMenu />
  </body>
</html>

<style lang="scss">
  .body__awards {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .awards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 100%;
    margin: auto;
    max-width: 110rem;
    width: 100%;
    justify-items: center;
  }
</style>
