---
import "../styles/global.css";
import ContactMenu from "../components/contact-menu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home | Tim Nees Architects</title>
  </head>
  <body class="body__homepage">
    <div class="heading backdrop">
      <h1 class="main-heading">newworkstudio/&nbsp;</h1>
      <h2 class="main-heading">timneesarchitect</h2>
    </div>

    <section class="contact-section backdrop">
      <menu>
        <p><a href="/profile">Profile</a></p>
        <p><a href="/projects">Projects</a></p>
        <p><a href="/awards">Awards</a></p>
      </menu>
    </section>

    <ContactMenu />
  </body>
</html>

<style>
  .body__homepage {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
  }

  .body__homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("public/desk.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -1;
  }
  .heading {
    align-self: flex-end;
    width: min-content;
  }

  .main-heading {
    font-size: 4.209rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10rem;
    gap: 10rem;
    width: min-content;
  }

  a {
    color: #000000;
    text-decoration: none;
  }

  menu {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 2.25rem;
    padding: 0;
  }

  p {
    font-size: 1.777rem;
  }
</style>
