---
import "../styles/global.css";
import MainHeader from "../components/main-header.astro";
import Layout from "../components/layout.astro";
---

<Layout title="Home | Tim Nees Architects" bodyClass="body__homepage">
  <div class="backdrop">
    <MainHeader showLogo={true} />
  </div>
</Layout>

<style lang="scss" is:global>
  .body__homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100lvh;
    background-image: url("/desk.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -1;
  }
</style>
