---
import { useSanityClient } from "astro-sanity";
import "../styles/global.css";
import ContactMenu from "../components/contact-menu.astro";
import { sanityPortableText } from "../../utilities/portable-text";
import TitleLink from "../components/title-link.astro";

const data = await useSanityClient().fetch(`*[_type == "profile"][0]`);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Profile | Tim Nees Architects</title>
  </head>
  <body class="body__profile backdrop">
    <div class="backdrop">
      <TitleLink link="/" />
      <section class="profile-text">
        <Fragment set:html={sanityPortableText(data.content)} />
      </section>

      <ContactMenu />
    </div>

    <style lang="scss">
      .body__profile::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/models profile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        z-index: -1;
      }

      .profile-text {
        max-width: 130ch;
        display: flex;
        flex-direction: column;
        padding: 5rem;
        text-align: justify;
        flex-grow: 1;
      }

      p {
        color: #ffffff;
        margin-block: 1rem;
      }
    </style>
  </body>
</html>
