---
import "../styles/global.css";
---

<menu class={`contact-menu`}>
  <p class=`menu-item`>
    <a href="/profile">profile</a>
  </p>
  <p class="menu-item"><a href="/projects">projects</a></p>
  <p class="menu-item"><a href="/awards">awards</a></p>
  <p class="menu-item">
    <a href="mailto:tim@timneesarchitect.com">tim@timneesarchitect.com</a>
  </p>
  <p class="menu-item">
    <a href="tel:+6421846333">+64 21 846333</a>
  </p>
  <p class="menu-item">
    <a href="https://www.instagram.com/timothygreignees/" target="_blank"
      >instagram</a
    >
  </p>
</menu>

<style lang="scss">
  menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: flex-start;
    padding-inline-start: 1rem;
    padding-block-end: 2rem;
    margin-block: 0rem;
    // position: absolute;
    // bottom: 1rem;
    flex-wrap: wrap;

    @media (max-width: 1100px) {
      position: relative;
      bottom: 0;
    }

    @media (max-width: 600px) {
      margin-block: 2rem;
    }
  }
  p.menu-item {
    font-size: 1.777rem;
    position: relative;
  }

  .menu-item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.2s ease-in-out;
  }

  .menu-item:hover::after {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
</style>
