<menu>
  <p class="menu-item"><a href="mailto:tim@timneesarchitect.com">Contact</a></p>
  <p class="menu-item">
    <a href="https://www.instagram.com/timneesarchitect/" target="_blank"
      >Instagram</a
    >
  </p>
  <p class="menu-item">
    <a href="https://nz.linkedin.com/in/timneesarchitect" target="_blank"
      >LinkedIn</a
    >
  </p>
  <p class="menu-item">
    <a
      href="https://www.facebook.com/newworkstudiotimneesarchitects/"
      target="_blank">Facebook</a
    >
  </p>
</menu>

<style>
  menu {
    align-self: flex-end;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0;
    margin-top: auto;
    backdrop-filter: blur(10px) saturate(70%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2.25rem;
  }
  p.menu-item {
    font-size: 1.777rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
