---
import "../styles/global.css";
---

<menu class="contact-menu">
  <p class="menu-item"><a href="mailto:tim@timneesarchitect.com">contact</a></p>
  <h4 class="menu-item">
    <a href="https://www.instagram.com/timneesarchitect/" target="_blank"
      >instagram</a
    >
  </h4>
  <h4 class="menu-item">
    <a href="https://nz.linkedin.com/in/timneesarchitect" target="_blank"
      >linkedIn</a
    >
  </h4>
  <h4 class="menu-item">
    <a
      href="https://www.facebook.com/newworkstudiotimneesarchitects/"
      target="_blank">facebook</a
    >
  </h4>
</menu>

<style>
  menu {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-inline-end: 5rem;
    margin-block: 2rem;
  }
  p.menu-item {
    font-size: 1.777rem;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }
</style>
