---
import "../styles/global.css";
const { isMobile } = Astro.props;
---

<menu class={`contact-menu ${isMobile && "mobile"}`}>
  <p class="menu-item"><a href="/profile">profile</a></p>
  <p class="menu-item"><a href="/projects">projects</a></p>
  <p class="menu-item"><a href="/awards">awards</a></p>
  <p class="menu-item">
    <a href="mailto:tim@timneesarchitect.com">tim@timneesarchitect.com</a>
  </p>
  <h4 class="menu-item">
    <a href="https://www.instagram.com/timneesarchitect/" target="_blank"
      >instagram</a
    >
  </h4>
</menu>

<style lang="scss">
  menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: flex-start;
    padding-inline-start: 1rem;
    padding-block-end: 2rem;
    margin-block: 0rem;
    // position: absolute;
    // bottom: 1rem;

    @media (max-width: 1100px) {
      position: relative;
      margin-block: 1rem;
    }
  }
  p.menu-item {
    font-size: 1.777rem;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .home {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-inline-end: 5rem;
    margin-block: 2rem;
    position: relative;
    padding-inline-start: 4rem;
    padding-block-end: 0;
  }
</style>
