---
import { seoConfig } from "../../utilities/seo-config";
import "../styles/global.css";
import { SEO } from "astro-seo";

const { title, bodyClass, backgroundUrl } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      title={title ?? "Tim Nees Architects"}
      description={seoConfig.description}
      openGraph={{
        basic: {
          title: title ?? seoConfig.siteName,
          type: "website",
          url: seoConfig.baseURL,
          image: seoConfig.image.url,
        },
      }}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon-32x32.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Tim Nees Architects"}</title>
  </head>
  <body class={bodyClass} style={`background-image: url(${backgroundUrl})`}>
    <slot />
  </body>
</html>
