---
import "../styles/global.css";

const { title, bodyClass, backgroundUrl } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon-32x32.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Tim Nees Architects New Work Studio architecture design residential architecture
      home design house plans custom home design architectural service residential architexts modern home design green architecture
      sustainable architecture sustainable design green design passive solar design passive solar architecture passive solar home design Christchurch Registered Architect
      New Zealand award winning awards houses residential passive off-grid beautiful NZIA Tim Nees Taylor's Mistake timber natural affordable competitive fee
     "
    />
    <meta
      property="og:description"
      content="Christchurch Registered Architect New Zealand award winning awards houses residential passive off-grid beautiful NZIA Tim Nees Taylor's Mistake timber natural affordable competitive fee"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home | Tim Nees Architects" />
    <meta property="og:url" content="https://timneesarchitect.com" />
    <meta property="og:site_name" content="Tim Nees Architects" />
    <meta
      property="og:image"
      content="/Taylors Mistake House_South elevation_David Straight Photographer_1 copy.jpg"
    />
    <title>{title ?? "Tim Nees Architects"}</title>
  </head>
  <body class={bodyClass} style={`background-image: url(${backgroundUrl})`}>
    <slot />
  </body>
</html>
