---
import { seoConfig } from "../../utilities/seo-config";
import "../styles/global.css";
import { SEO } from "astro-seo";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

const { title, bodyClass, backgroundUrl, ogImage } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      title={title ?? "Tim Nees Architects"}
      description={seoConfig.description}
      openGraph={{
        basic: {
          title: title ?? seoConfig.siteName,
          type: "website",
          url: ogImage ?? seoConfig.baseURL,
          image: seoConfig.image.url,
        },
      }}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon-32x32.png" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="noindex" />
    <title>{title ?? "Tim Nees Architects"}</title>

    <script is:inline src="/registerSW.js"></script>
    <link rel="manifest" href="/manifest.webmanifest" />
  </head>
  <body
    class={bodyClass}
    style={`background-image: url(${backgroundUrl ?? ""})`}
  >
    <slot />
  </body>
</html>
