---
import "../styles/global.css";
const { title, bodyClass } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Tim Nees Architects New Work Studio architecture design residential architecture
     home design house plans custom home design architectural service residential architexts modern home design green architecture
     "
    />
    <title>{title ?? "Tim Nees Architects"}</title>
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
