---
import "../styles/global.css";
const { showHome } = Astro.props;
---

<menu class="navigation-section">
  {
    showHome && (
      <p>
        <a href="/">Home</a>
      </p>
    )
  }
  <p><a href="/profile">profile</a></p>
  <p><a href="/projects">projects</a></p>
  <p><a href="/awards">awards</a></p>
</menu>

<style>
  .navigation-section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  p {
    font-size: 1.777rem;
  }
</style>
