---
const { link } = Astro.props;
---

<a href={link}><h3>new work studio / tim nees architects</h3></a>

<style lang="scss">
  a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    align-self: flex-start;
    margin-inline: 1rem;
  }
</style>
