---
const { link } = Astro.props;
---

<a href={link}><h4>new work studio / tim nees architects</h4></a>

<style lang="scss">
    a {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        align-self: flex-start;
        margin: 1rem;
    }
</style>
